# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environments
env/
.venv/
ENV/

# Logs and databases
*.log
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS Files
.DS_Store

# API Keys / Secrets
.env
# ignore virtualenvs for heart project
Heart_Disease_Project/.venv/
